body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.main {
  width: 100%;
}
.wrapper {
  width: 800px;
  margin: 100px auto;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
}
.head__hi {
  color: #fff;
  font-size: 24px;
}
.head__out {
  color: #fff;
  font-size: 24px;
}
.head__out:hover {
  color: bisque;
}
.main__list {
  margin-top: 80px;
}
.list__unit:not(:first-child) {
  margin-top: 10px;
}
.list__link {
  display: flex;
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(0,0,0,0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.list__link:hover {
  border-color: burlywood;
}
.list__img {
  width: 30%;
  margin-right: 30px;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.list__img.img1 {
  background-image: url(https://picsum.photos/300/200?random=1);
}
.list__img.img2 {
  background-image: url(https://picsum.photos/300/200?random=2);
}
.list__img.img3 {
  background-image: url(https://picsum.photos/300/200?random=3);
}
.list__name {
  color: aliceblue;
  font-size: 20px;
  margin-bottom: 15px;
}
.list__text {
  color: #000;
  font-size: 16px;
  white-space: pre-line;
}



@media screen and (max-width: 544px) {
  .wrapper {
    width: 100%;
    margin: 0;
  }
  .head__hi,
  .head__out {
    font-size: 20px;
  }
  .main__list {
    margin-top: 30px;
  }
  .list__link {
    flex-direction: column;
    border-color: bisque;
  }
  .list__img {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
  }
  .list__name {
    order: 1;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .list__text {
    font-size: 12px;
  }
}